# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pandas
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

In [4]:
#import  dataset Euro_2012_stats_TEAM.csv
df = pandas.read_csv('Euro_2012_stats_TEAM.csv')

### Step 3. Assign it to a variable called euro12.

In [5]:
euro12 = pandas.read_csv('Euro_2012_stats_TEAM.csv')

### Step 4. Select only the Goal column.

In [7]:
#select the goal column
euro12['Goals'] = euro12['Goals'].astype(int)
print(euro12['Goals'])

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int32

### Step 5. How many team participated in the Euro2012?

In [8]:
#how many team participated in the euro12
print(euro12['Team'].nunique())

16

### Step 6. What is the number of columns in the dataset?

In [37]:
# number of column in the dataset
euro12.shape

(16, 35)

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [14]:
#columns teams, yellow cards and red cards and assign them to a new dataframe called discipline
discipline = euro12[['Team','Yellow Cards','Red Cards']]
print(discipline)

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [36]:
#Sort the teams by Red Cards, then to Yellow Cards
discipline = discipline.sort_values(by=['Red Cards','Yellow Cards'], ascending=False)
print(discipline)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [18]:
#Calculate the mean Yellow Cards Given per team
euro12['Yellow Cards'].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [19]:
#filter teams that scored more than 6 goals
euro12[euro12['Goals']>6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Step 11. Select the teams that start with G

In [20]:
#select the teams that start with G
euro12[euro12['Team'].str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

### Step 12. Select the first 7 columns

In [22]:
#select the first 7 columns
euro12.columns.values[:7]

array(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots',
       'Total shots (inc. Blocked)'], dtype=object)

### Step 13. Select all columns except the last 3.

In [23]:
#select all columns except the last 3
euro12.columns.values[:-3]

array(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots',
       'Total shots (inc. Blocked)', 'Hit Woodwork', 'Penalty goals',
       'Penalties not scored', 'Headed goals', 'Passes',
       'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances',
       'Interceptions', 'Clearances off line', 'Clean Sheets', 'Blocks',
       'Goals conceded', 'Saves made', 'Saves-to-shots ratio',
       'Fouls Won', 'Fouls Conceded', 'Offsides', 'Yellow Cards',
       'Red Cards'], dtype=object)

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [34]:

#select the shooting accuracy from England, Italy and Russia
euro12[euro12['Team'].isin(['England','Italy','Russia'])]['Shooting Accuracy']

3     50.0%
7     43.0%
12    22.5%
Name: Shooting Accuracy, dtype: object